<h2>
    Edit Offer
  </h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div>
      <label for="title">Title</label><input type="text" class="form-control" required [(ngModel)]="ofert.title" name="title">
    </div>
    <div>
      <label for="description">Description</label><input type="text" class="form-control" required [(ngModel)]="ofert.description" name="description">
    </div>
    <div>
      <label for="discount">Discount</label><input type="text" class="form-control" required [(ngModel)]="ofert.discount" name="discount">
    </div>
    <div>
    <label for="expireDate">Expire Date</label><input type="text" class="form-control" required [(ngModel)]="ofert.expireDate" name="expireDate">
    </div>
  </form>